<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Install1</title>

    <link rel="stylesheet" href="https://cdn.rawgit.com/microapps/Shopify-Embedded-App-Frontend-Framework/master/css/seaff.css" />
  </head>

  <body>
    <div class="section">
      <div class="section-summary">
        <a name="summary"></a>
        <h1>Install</h1>
      </div>

      <div class="section-content">
        <div class="section-row">
          <div class="section-cell">
            <p>Enter your store's URL:</p>

            <form action="/shopify-auth" method="GET">
              <input type="text" name="shop" placeholder="your-shop-url.myshopify.com" value="carson-test-shop.myshopify.com" required />

              <button class="btn primary" type="submit">
                Log in
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
